<div class="login">
    <form method="post">
        <input type="text" name="u" placeholder="Email Id" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <input type="text" name="p" placeholder="Age" required="required" />
        <input type="file" id="profile_picture" name="profile_picture" placeholder="Select Profile Picture">
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up</button>
    </form>
</div>